# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List popular libraries used for Data Science
+ Various environments for Data Science
+ Basics of RStudio and Python
+ How to use Jupyter Notebook and GIT

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. ggplot

In [13]:
| Data Science Tools |
|--------------------|
| RStudio |
| Apache Spark |
| TensorFlow |

SyntaxError: invalid syntax (1768144227.py, line 1)

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
#  This will convert 200 minutes to hours by diving by 60
hours = 200/60

In [16]:
print(hours)

3.3333333333333335

## Author: 
Ronak Sethi